body{
    margin:0;
    padding:0;
    background:#f4f4f4;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:white;
    padding:30px;
    width:320px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

h2{
    margin-bottom:20px;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:95%;
    padding:10px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}
ul{
list-style:none;
padding:0;
}

li{
background:#f8f9fa;
padding:12px;
margin:10px 0;
border-radius:8px;
text-align:left;
}

#search{
margin-top:20px;
}

#count{
color:#007BFF;
font-weight:bold;
}
